/*палфіра кольорів https://color.romanuke.com/tsvetovaya-palitra-2003/ */

body {
    background-color: #ebe8e3;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: Pixelify Sans;
    display: flex;
    justify-content: center;
}

@media(min-width: 320px){
    .post{
        flex-direction: column;
    }

    .info{
        align-items: center;
    }
    
    .images {
        justify-content: center;
        width: 60%;
        height: auto;
    }

    .streem {
        width: 100%;
    }

    .images img {
        width: 100%;
        height: auto;
    }

    .screen_shots{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .screen_shots div{
        height: 200px;
    }
}

@media(min-width: 425px){
    .post{
        flex-direction: column;
    }

    .images img {
        width: 100%;
        height: auto;
    }
    
    .images {
        justify-content: center
    }
}

@media(min-width: 500px){
    .info{
        align-items: normal;
    }

    .images img {
        width: auto;
        height: 500px;
    }

    .images{
        height: 500px;
        width: 45%;
    }

    .streem {
        width: 960px;
    }

    .screen_shots{
        height: 200px;
        flex-direction: row;
        align-items: normal;
    }
}

@media(min-width: 1024px){
    .post{
        flex-direction: row;
    }
    
    .images {
        justify-content: flex-start;
    }
}

.streem {
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
}

.info div{
    width: 200px;
}

.images {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.screen_shots {
    width: 100%;
    display: flex;
    justify-content: center;
}

.screen_shots img {
    width: auto;
    height: 200px;
    margin-right: 10px;
}

.post {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e4e1d8;
    margin-bottom: 20px;
}

.description {
    margin-left: 10px;
    width: 500px;
}

h2 {
    font-size: 26px;
    margin-bottom: 5px;
    color: #222020;
}

p {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #222020;
}

.black-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3d3939;
    color: white;
    text-decoration: none;
    border: 2px solid #222020;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 5px;
}

.black-button:hover {
    background-color: #333;
    border-color: #999;
}