body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* білий колір фону */
    color: #000; /* чорний колір тексту */
    margin: 0;
    padding: 0;
    font-family: Pixelify Sans;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.images {
    width: 45%; /* ширина контейнера зображенням */
}

.images img {
    width: auto; /* розтягнути зображення на весь доступний простір */
    height: 500px;
    display: block; /* усунення проміжного простору */
    margin-bottom: 20px; /* проміжок між зображенням та текстом */
}

.content {
    width: 45%;
    /* ширина контейнера з текстом */
}

.text {
    margin-left: auto; /* автоматичний відступ від лівого краю */
}

.image {
    margin-bottom: 20px;
    height: 500px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: #000;
    text-decoration: none;
}

.black-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none; /* Забираємо підкреслення посилання */
    border: 2px solid gray; /* Додаємо обводку */
    outline: none; /* Забираємо контур кнопки при фокусуванні */
    transition: background-color 0.3s, border-color 0.3s; /* Плавна зміна кольору при наведенні */
    margin: 5px; /* Відступ від інших об'єктів */
}

/* Стилі для кнопки при наведенні курсору */
.black-button:hover {
    background-color: #333; /* Темновата версія чорного */
    border-color: #999; /* Сірий колір обводки */
}